@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.menu-box{
    position: relative;
    width: 280px;
    height: 950px;
    background: #13293D;
}

.menu-box .logo{
    padding-top: 60px;
    padding-left: 54px;
}

.menu-box .perfil{
    padding-top: 47px;
    padding-left: 70px;
}

.menu > ul{
    margin-top: 61px;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    width: 100%;
}

.menu > ul > li{
    width: 100%;
    padding-left: 72px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    position: relative;
}

.menu > ul > li:hover{
    position: relative;
    width: 100%;
    color: #A6C72A;
}

.menu > ul li:hover::after{
    width: 1.5%;
}

.menu > ul li::after{
    content: "";
    width: 0px;
    height: 39px;
    background-color: #A6C72A;
    position: absolute;
    top: 0;
    left: 0;
    transition:  0.5s;
    transform: rotate(180.18deg);
    border-radius: 20px 0px 0px 20px;
    height: 100%;
}

ul li a.ativo{
    background-color: #A6C72A;
}

.menu .sair{
    margin-top: 120px;
}

.menu > ul > li > a{
    display: flex;
    padding: 10px 0px;
    align-items: center;
    gap: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffff;
    text-decoration: none;
}

.menu > ul > li > a:hover{
    color: #A6C72A;
}

.menu > ul > li > a > img:hover{
    border-color: #A6C72A;
}

.container{
    position: absolute;
    width: 1135px;
    height: 976px;
    left: 280px;
    top: 0px;
} 

.cima > h1{
    position: relative;
    top: 71px;
    left: 65px;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: rgba(11, 11, 11, 0.65);
}

.cima .direita{
    position: relative;
    top: 43px;
    left: 865px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.cima .direita > p{
    color: rgba(11, 11, 11, 0.65);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.cima .box{
    position: relative;
    top: 100px;
    left: 65px;
    width: 1025px;
    height: 196px;
    border-radius: 20px;
    background: rgba(36, 123, 160, 0.40);
}

.box .ola{
    position: absolute;
    top: 60px;
    left: 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}
.cima .box .ola > h3{
    color: #247BA0;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.cima .box .ola > p{
    color: rgba(11, 11, 11, 0.50);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    text-transform: lowercase;
}

.cima .box > img{
    position: absolute;
    left: 717px;
    top: -15px;
    width: 283px;
    height: 283px;
}

.ancoras > ul{
    position: relative;
    top: 100px;
    left: 65px;
    display: inline-flex;
    align-items: flex-start;
    list-style: none;
    flex-direction :row;
    gap: 37px;
    width: 100%;
}

.ancoras > ul li{
    list-style: none;
    display: inline-block;
}

.ancoras > ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
    color: rgba(36, 123, 160, 0.5);
    position: relative;
}

.ancoras > ul li a::after{
    content: "";
    width: 0px;
    height: 3px;
    background-color: #247BA0;
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.ancoras > ul li a:hover{
  color: #247BA0;
}

.ancoras > ul li a:hover::after{
    width: 85%;
}

.dowload{
    position: relative;
    top: 165px;
    left: 0px;
}

.dowload > .box-down{
    display: flex;
    height: 148px;
    padding: 35px 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background: rgba(119, 173, 120, 0.40);
}

.box-down > h3{
    color: rgba(11, 11, 11, 0.65);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.box-down > a{
    display: flex;
    padding: 6px 9px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

    color: rgba(11, 11, 11, 0.50);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.baixo > .adicionar{
    position: relative;
    top: 200px;
    left: 65px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: #263238;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.vacina{
    height: 0px;
    width: 0px;
}

.vacina .vacinas{
    position: relative;
    top: 190px;
    left: 65px;
    width: 500px;
    height: 98px;
    border-radius: 20px;
    border: 1px solid #247BA0;
    background: rgba(255, 255, 255, 0.40);
    background: #FFF;
    transition: ease-in-out 0.3s;

    display: block;
    margin-top: 26px;
}

.vacina .vacinas:hover{
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.vacinas > img{
    position: relative;
    top: 13px;
    left: 39px;
    width: 71px;
    height: 71px;
}

.vacinas .tipo{
    position: absolute;
    top: 25px;
    left: 137px;
    color: #247BA0;
    font-family: Nunito;
    font-size: 22px;
    font-style: medium;
    font-weight: 500;
    line-height: 24px;
}

.vacinas .dose{
    position: absolute;
    top: 63px;
    left: 137px;
    width: 85px;
    height: 20px;
    padding: 2px 2px;
    border-radius: 5px;
    background: rgba(36, 123, 160, 0.30);
    text-align: center;

    color: #247BA0;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.vacinas .data{
    position: absolute;
    top: 25px;
    left: 416px;
    color: rgba(36, 123, 160, 0.50);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.vacinas .local{
  position: absolute;
  top: 63px;
  left: 240px;
  width: 90px;
  height: 20px;
  padding: 2px 2px;
  border-radius: 5px;
  background: rgba(36, 123, 160, 0.30);
  text-align: center;

  color: #247BA0;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.vacinas .excluir{
    position: absolute;
    top: 63px;
    left: 356px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #CC3334;
    color: rgba(11, 11, 11, 0.65);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.vacinas .editar{
    position: absolute;
    top: 63px;
    left: 423px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #77AD78;
    color: rgba(11, 11, 11, 0.65);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

